@import url('https://fonts.googleapis.com/css2?family=GFS+Neohellenic:ital,wght@0,400;0,700;1,400;1,700&family=Vast+Shadow&display=swap&family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    padding: 0;
    border: 0;
    margin: 0;
}



/* html, body {
    overflow-x: hidden;
}

body {
    min-height: 100%;
} */

/*----------------------------------------Colours */


#main {
    /* background: linear-gradient(
        45deg, 
        #999 5%,
        #fff 10%, 
        #ccc 30%, 
        #ddd 50%, 
        #ccc 70%,
        #fff 80%,
        #999 95%
    ); */
    background: url(../images/circular-837510_1920.jpg) no-repeat center center fixed;
}

/*----------------------------------------Heading */

h1 {
    text-transform: uppercase;
}

.sitename {
    font-family: "Vast Shadow", sans-serif;
    font-size: 2.7rem;
    font-weight: 300;
    text-align: center;
    padding-top: 37.5px;
    padding-bottom: 37.5px;
}

.headinglink {
    text-decoration: none;
    color: #000;
}

/*----------------------------------------Navigation */

#navbar {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    justify-content: center;
}

.navitems {
    margin-left: 5px;
    margin-right: 5px;
    width: 28%;
    height: 5.5rem;
}


.navbutton {
    font-family: "Vast Shadow";
    font-size: 0.8em;
    border-style: none;
    border-color: #000;
    border-width: 1px;
    padding-top: 2.5em;
    border-radius: 25%;
    background: linear-gradient(
        45deg,
        #a79315 5%,
        #e2c821 10%,
        #dacd7e 30%,
        #b19d1c 50%,
        #dacd7e 70%,
        #e5da93 80%,
        #e2c402 95%
    );
    text-decoration: none;
    width: 100%;
    height: 100%;
    color: #201e1e;
}



/* Following code taken from hover.css */
.hvr-sweep-to-right {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    overflow: hidden;
  }
  .hvr-sweep-to-right:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(
        45deg,
        #d4af37 5%,
        #debc5b 10%,
        #e7c97c 30%,
        #efd69d 50%,
        #e7c97c 70%,
        #debc5b 80%,
        #d4af37 95%
        );
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-sweep-to-right:hover, .hvr-sweep-to-right:focus, .hvr-sweep-to-right:active {
    color: white;
  }
  .hvr-sweep-to-right:hover:before, .hvr-sweep-to-right:focus:before, .hvr-sweep-to-right:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  /* End of hover.css code */

/*----------------------------------------Index-Section */

#section-general {
    font-family: "GFS Neohellenic";
    font-size: 2rem;
    margin-bottom: 25px;
}

#bodytext-top {
    padding-left: 10%;
    padding-top: 5px;
    text-align: left;
    font-size: 1.7rem;
}

#bodytext-middle {
    font-family: "Arvo";
    font-weight: 700;
    font-style: normal;
    text-align: center;
    font-size: 4rem;
    padding-bottom: 10px;
}

#bodytext-bottom {
    padding-left: 66%;
    text-align: left;
    font-size: 1.7rem;
}

/*----------------------------------------Index Icons */

.grid-container {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    text-align: center;
}

.grid-container i {
    font-size: 300%;
}

/*----------------------------------------Footer */

#footer-general {
    position: relative;
    width: 100%;
    top: 50px;
    font-family: sans-serif;
    padding-top: 25px;
    padding-left: 10%;
    height: 100px;
    margin-top: 1px;
    padding-bottom: 20px;
}

/*----------------------------------------Media Queries */


@media screen and (min-width: 380px) {
    html {
        height: 100%;
    }
}

@media screen and (min-width: 425px) {
    .navbutton {
        font-size: 1rem;
        padding-top: 2rem;
    }
}

@media screen and (min-width: 768px) {
    
    .sitename {
        font-size: 3.7rem;
    }
    
    .navbutton {
        font-size: 1.2rem;
        padding-top: 1.8rem;
    }

    .navitems {
        margin-left: 15px;
    }

    #footer-general {
        top: 150px;
    }
}

@media screen and (min-width: 992px) {
    .sitename {
        font-size: 5rem;
    }
}

@media screen and (min-width: 1200px) {
    .navbutton {
        font-size: 1.5rem;
        padding-top: 1.5rem;
    }

    #footer-general {
        top: 200px;
    }
}