@import url('https://fonts.googleapis.com/css2?family=GFS+Neohellenic:ital,wght@0,400;0,700;1,400;1,700&family=Vast+Shadow&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

/*----------------------------------------Colours */


body {
    background: linear-gradient(
        90deg, 
        #999 5%,
        #fff 10%, 
        #ccc 30%, 
        #ddd 50%, 
        #ccc 70%,
        #fff 80%,
        #999 95%
    );
}

/*----------------------------------------Heading */

h1 {
    text-transform: uppercase;
}

.sitename {
    font-family: "Vast Shadow", sans-serif;
    font-size: 2.7rem;
    font-weight: 300;
    text-align: center;
    color: #000;
    padding-top: 25px;
    padding-bottom: 50px;
}

.headinglink {
    text-decoration: none;
}

/*----------------------------------------Navigation */

#navbar {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.navitems {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    width: 25%;
}

.navbutton {
    font-family: "Vast Shadow";
    position: relative;
    right: 6%;
    height: 50px;
    width: 100px;
    font-size: 0.8em;
    border-style: solid;
    border-color: #000;
    border-width: 1px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 25%;
    transition-duration: 0.5ms;
    transition-timing-function: ease;
    background: linear-gradient(
        45deg,
        #a79315 5%,
        #e2c821 10%,
        #dacd7e 30%,
        #b19d1c 50%,
        #dacd7e 70%,
        #e5da93 80%,
        #e2c402 95%
    );
}

.navbutton a {
    display: grid;
    align-items: center;
    text-decoration: none;
    width: 100%;
    height: 100%;
}

.navbutton:hover {
    background: linear-gradient(
        135deg, 
        #999 5%,
        #fff 10%, 
        #ccc 30%, 
        #ddd 50%, 
        #ccc 70%,
        #fff 80%,
        #999 95%
    );
}
